* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.wrapper {
    background-color: #000000;
    width: 100%;
    height: calc(100vh -100px);
    display: flex;
    flex-wrap: wrap;


}

.col-left {
    width: 200px;
    height: calc(100vh - 100px);

    /* debug */
    border: 2px solid #ffffff;
}

.col-right {
    width: calc(100% - 200px);
    height: 100vh;
    overflow: auto;
}

.col-top {
    height: 100px;
    width: 100%;
    /* position: fixed; */


    /* debug */
    border: 2px solid #ffffff;
    background-color: aqua;
}


.col-bottom  {
    color: #ffffff;
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

.footer {
    height: 100px;
    width: 100%;

    /* debug */
    background-color: blue;
}